.socialLinks{
    display: flex;
    gap: 13px;
    &__list{
        display: flex;
        gap: 15px;
    }
    & p{
    
            display: none;
        
    }
}
.contactPhone{
    display: flex;
    gap: 10px;
    flex-grow: 0;
    &__icon:hover{
        color: $color_decorate_elem;
        
        }
        &__number:hover{
            stroke: $color_decorate_elem;
        }
        &__icon svg{
            fill: none;
            stroke: $color_main_font;
            }
    @media screen and (min-width:780px){
        flex-grow: 1;

    }
    
}